.h1-color {
	color: #302d41;
}

.align-center {
    text-align: center;
}

.autor-color {
    color: #009688;
}

.p-color {
    color: #5f5f5f;
}

.table {
    width: 100%;
}

.menu {
    width: 200px;
}

.span {
    display: block;
    background-color: yellow;
}

.width {
    width: 100%;
}

.border {
    border: 1px solid black;
}

.article-title {
    text-align: center;
    text-transform: uppercase;
}

#nav-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav-menu .nav-item {
    border: 1px solid #dedede;
    padding: 5px;
    text-align: center;
}

#nav-menu .nav-item a {
    text-transform: uppercase;
    text text-decoration: none;
    color: #000;
}

#nav-menu .nav-item:hover {
    text-decoration: underline;
}
