.h1-color {
	color: #302d41;
}

.align-center {
    text-align: center;
}

.autor-color {
    color: #009688;
}

.p-color {
    color: #5f5f5f;
}

.yellow-bg {
    background-color: yellow;
}

.table {
    width: 100%;
}

.menu {
    width: 200px;
}
