<html>
  <head>
    <title>Curiozități</title>
    <link rel="stylesheet" type="text/css" href="curiosities.css">
  </head>
  <body>
    <h1>Codifun inspire me!</h1>
    <p><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
	  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
		It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
		popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
		publishing software like Aldus PageMaker including versions of Lorem Ipsum.</em></p>
    <table>
      <tr>
        <th class="menu">Meniu</th>
        <th>Text pentru curiozități</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li class="menu"><a href="./index.html"><b>Acasă</b></a></li>
            <li class="menu"><a href="./components/curiosities/curiosities.html"><b>Curiozități</b></a></li>
            <li class="menu"><a href="./components/contact/contact.html"><b>Contacte</b></a></li>
            <li class="menu"><a href="https://www.facebook.com/tataru.21"><b>Profil Facebook</b></a></li>
          </ul>
        </td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec nibh ac lacus dictum sollicitudin ac 
          tempor lorem. Nullam vulputate fringilla felis, at tincidunt nibh interdum vel. Nunc hendrerit nisi 
          sed massa consectetur eleifend. Proin eleifend odio in ante aliquet ultrices. Integer tempus enim id ex 
          pellentesque, sed fringilla sem pulvinar. Phasellus sollicitudin suscipit mauris, interdum volutpat 
          justo vehicula id. Nunc sit amet ultrices diam. Ut a diam dictum, mattis arcu vel, tempor metus. Vivamus 
          hendrerit lorem id diam ullamcorper euismod. 
        </td>
      </tr>
    </table>
    <q>Cunoștințele îți crează viitorul!</q>
  </body>
</html>