<html>
  <head>
    <title>Contacte</title>
    <link rel="stylesheet" type="text/css" href="contact.css">
  </head>
  <body>
    <h1>Codifun inspire me!</h1>
    <p><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
	  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
		It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
		popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
		publishing software like Aldus PageMaker including versions of Lorem Ipsum.</em></p>
    <table>
      <tr>
        <th class="menu">Meniu</th>
        <th>Contacte:</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li class="menu"><a href="./index.html"><b>Acasă</b></a></li>
            <li class="menu"><a href="./components/curiosities/curiosities.html"><b>Curiozități</b></a></li>
            <li class="menu"><a href="./components/contact/contact.html"><b>Contacte</b></a></li>
            <li class="menu"><a href="https://www.facebook.com/tataru.21"><b>Profil Facebook</b></a></li>
          </ul>
        </td>
        <td>
          <p>Adelina Tataru</p>
          <a href="tel:+(373) 60 97 96 41">+(373) 60 97 96 41</a>
        </td>
      </tr>
    </table>
    <q>Cunoștințele îți crează viitorul!</q>
  </body>
</html>